/* src/pages/Projects/ProjectPage.css */

.projectPage {
  padding: 100px 50px 80px;
  background-color: #121212;
  color: #ffffff;
}

.projectsTitle {
  text-align: center;
  font-size: 42px;
  color: #00aaff;
  margin-bottom: 40px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.projectItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectItem:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.8);
  /* Leve aumento na sombra no hover */
}

.projectImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  width: 300px;
  margin-right: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectItem:hover .projectImage {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 168, 255, 0.5);
  /* Sombra mais forte ao hover da imagem */
}

.projectDescription {
  flex: 1;
  text-align: left;
}

.projectTitle {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00aaff;
}

.projectText {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.8;
  color: #bfbfbf;
}

.projectTechnologies h3 {
  margin-bottom: 10px;
  color: #00ffcc;
  font-size: 20px;
  text-transform: uppercase;
}

.projectTechnologies ul {
  padding-left: 20px;
  color: #bfbfbf;
}

.projectTechnologies li {
  margin-bottom: 5px;
}

.projectVideo h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #00ffcc;
  font-size: 20px;
}

.projectVideo video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 168, 255, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectVideo video:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 168, 255, 0.5);
  /* Efeito de hover no vídeo aprimorado */
}

@media (max-width: 768px) {
  .projectItem {
    flex-direction: column;
    text-align: center;
  }

  .projectImage {
    width: 100%;
    margin-bottom: 20px;
  }

  .projectText {
    font-size: 18px;
    line-height: 1.8;
    color: #bfbfbf;
  }
}